<!DOCTYPE html>
<html th::fragment="header" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clínica</title>
    <link href="#" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top"
		aria-label="Sixth navbar example">
		<div class="container-fluid"> 
		<a class="navbar-brand" href="#">Clínica</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarsExample06" aria-controls="navbarsExample06"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
	
			<div class="collapse navbar-collapse" id="navbarsExample06">
				<ul class="navbar-nav me-auto mb-2 mb-xl-0">

					<li class="nav-item"><a class="nav-link active" href="/<%=contexto1%>" aria-current="page">Login</a></li>
					
	
					<!--APENAS PARA PROFISSIONAIS E CLIENTES-->
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Consultas</a></li>
					<!--APENAS PARA CLIENTE-->
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Profissionais</a>
					</li>

					<!--APENAS PARA ADMIN-->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Registros </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Cliente</a></li>
							<li><a class="dropdown-item" href="#">Profissional</a></li>
						</ul>
					</li>

					
					<li class="nav-item dropdown">
					
					<a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Cadastro 
					</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Cliente</a></li>
							<li><a class="dropdown-item" href="#">Profissional</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#" aria-current="page">Sair</a>
					</li>
	
				</ul>
			</div>
		</div>
	</nav>
	<br><br><br><br>
